<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Email</th>
			<th>Name</th>
			<th>Favorite Game</th>
			<th>Action</th>
		</tr>
	</thead>

	<% @users.each do |user| %>
	<tr>
		<td><%= user.id %></td>
		<td><%= user.email %></td>
		<td><%= user.name %></td>
		<td><%= user.fav_game %></td>
		<td> link to </td>
	</tr>

	<% end %>
</table>